{% extends "app/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/carritoStyle.css' %}">
{% endblock %}

{% block title %}
Carrito de compras
{% endblock %}

{% block content %}
<div id="contenido">
    {% for c in cart %}
    <div class="titulo">
        <h5>TU CARRITO DE COMPRAS</h5>
        <h5>TOTAL: ${{c.subtotal}}</h5>
        <a href="{% url 'comprar' p_total=c.subtotal id_carrito=c.id_carrito %}" class="btn btn-primary">Realizar Compra</a>
        {% if request.session.suscrito == True %}
        <h5>Tienes un descuento de 5% por ser suscriptor de GreenHome!</h5>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="promocion" placeholder="Codigo de descuento" class="form-control">
            <button class="btn btn-primary">Canjear código</button>
        </form>
        {% if messages %}
            {% for m in messages %}
            <h3>{{m}}</h3>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% for i in cartitems %}
    <div class="added">
        <div class="addedcol">
            <h5>{{i.nombre}}</h5>
        </div>
        <div class="addedcol">
            <h5>CANTIDAD: </h5>
            <h5>{{i.cantidad}}</h5>
        </div>
        <div class="addedcol">
            <h5>TOTAL:</h5>
            <h5>{{i.subtotal_producto}}</h5>
        </div>
        <a class="btn btn-danger" id="btn-borrar" href="{% url 'borrar' i.id_producto %}">Borrar</a>
    </div>
    {% endfor %}
</div>
{% endblock %}