{% extends "app/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/historialStyle.css' %}">
{% endblock %}

{% block title %}
Mis compras
{% endblock %}

{% block content %}
<div id="contenido">
    <div id="historial">
        <h4>HISTORIAL DE COMPRAS DE "{{request.session.username}}"</h4>
    </div>

    {%for c in compras%}
    <div id="historial">
        <h4>Compra realizada el {{c.fecha}}</h4>                
        <p>Total: ${{c.total}}</p>
        <p>Fecha de entrega de su pedido: {{c.fecha_entrega}}</p>
    </div>
    {%endfor%}


</div>
{% endblock %}