{% extends "app/layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app/css/indexStyle.css' %}">
{% endblock %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<div id="contenido">

    <div class="producto">
        <h5>MACETA</h5>
        <p>Precio: $2000</p>
        <p>Stock: 10</p>
        <img src="{% static 'app/img/maceta.jpg' %}" alt="MACETA">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>REGADERA</h5>
        <p>Precio: $7000</p>
        <p>Stock: 7</p>
        <img src="{% static 'app/img/regadera.jpg' %}" alt="REGADERA">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>TANAX CASA Y JARDIN</h5>
        <p>Precio: $2400</p>
        <p>Stock: 5</p>
        <img src="{% static 'app/img/tanax.jpg' %}" alt="TANAX">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>MANGUERA</h5>
        <p>Precio: $25000</p>
        <p>Stock: 4</p>
        <img src="{% static 'app/img/manguera.jpg' %}" alt="MANGUERA">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>SEMILLAS DE PASTO</h5>
        <p>Precio: $7000</p>
        <p>Stock: 34</p>
        <img src="{% static 'app/img/pasto.jpg' %}" alt="SEMILLAS DE PASTO">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>FERTILIZANTE</h5>
        <p>Precio: $3000</p>
        <p>Stock: 44</p>
        <img src="{% static 'app/img/fertilizante.jpg' %}" alt="FERTILIZANTE">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>TIJERAS DE JARDINERIA</h5>
        <p>Precio: $9000</p>
        <p>Stock: 17</p>
        <img src="{% static 'app/img/tijeras.jpg' %}" alt="TIJERAS DE JARDINERIA">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>BARREHOJAS</h5>
        <p>Precio: $3000</p>
        <p>Stock: 22</p>
        <img src="{% static 'app/img/barrehojas.jpg' %}" alt="BARREHOJAS">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>PODADORA</h5>
        <p>Precio: $75000</p>
        <p>Stock: 38</p>
        <img src="{% static 'app/img/podadora.webp' %}" alt="PODADORA">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>SET HERRAMIENTAS DE JARDINERIA</h5>
        <p>Precio: $12000</p>
        <p>Stock: 25</p>
        <img src="{% static 'app/img/herramientas.jpg' %}" alt="SET DE HERRAMIENTAS">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>
    
    <div class="producto">
        <h5>GUANTES</h5>
        <p>Precio: $13000</p>
        <p>Stock: 56</p>
        <img src="{% static 'app/img/guantes.jpg' %}" alt="GUANTES">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

    <div class="producto">
        <h5>SEMILLAS DE FLORES</h5>
        <p>Precio: $2000</p>
        <p>Stock: 49</p>
        <img src="{% static 'app/img/semillas de flores.jpg' %}" alt="FLORES">
        <button type="button" class="btn btn-success">Agregar a carrito</button>
    </div>

</div>
{% endblock %}